.page {  /* Параметры страницы */
  margin: 0 auto;
  font-family: var(--font, monospace);  /* Параметры шрифта */
  font-size: var(--font-size);  /* Параметры размера шрифта */
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--background-image);  /* Путь к изображению(фону) */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* === ШАПКА ====================================================== */

.header {  /* Параметры шапки */
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}



.header__theme-menu-list {  /* Кнопки навигации */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {  /* Сами кнопки */
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
}

.header__theme-menu-button_active {  /* нажатие на кнопку */
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {  /* Убираем подчёркивание */
  outline: none;
}

.header__theme-menu-button:focus-visible {  /* Стерает границу кнопки */
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {  /* Окантовка */
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}



.decorative__element {  /* Надпись REC */
  position: absolute;  /* Достаём из потока */
  top: 0;  /* Обнуляем отступы */
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {  /* При светлой теме скрываем */
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}



.frame::before {  /* Уголки по углам(при светлой) */
  position: absolute;
  top: 0;  /* Правый уголок */
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {  /* При тёмной */
  position: absolute;
  bottom: 0;  /* Левый уголок */
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}



.header__title {  /* Заголовок */
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {  /* Подзаголовок */
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header__text {  /* Параметры текста в подзаголовке */
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}

/* === СЕКЦИЯ ВОПРОСОВ ====================================================== */

.question__section-title {  /*Заголовок в секции вопросов */
  color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  font-size: var(--font-size);
}

.question__section-answer-text {  /* Параметры текста в секции */
  font-size: var(--font-size);
  color: var(--text-color);
}



.question__section-answer-link {  /* Ссылка в тексте */
  text-decoration: none;  /* Убираем подчёркивание */
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {  /* Подчёркивание */
  border-bottom: 1px solid var(--text-color);
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {  /* Окантовка */
  border: 1px solid var(--text-color);
}


/* === ПЕРВАЯ СЕКЦИЯ ВОПРОСОВ ====================================================== */

.question__section__one {  /* Первая секция вопросов */
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

.question__section-answer {  /* Блок с ответом */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__section-answer p:first-of-type {  /* Отступ абзаца снизу */
  padding-block-end: 10px;
}

/* === ВТОРАЯ СЕКЦИЯ ВОПРОСОВ ====================================================== */

.question__section-two {  /* Вторая секция вопросов */
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question__section-answer-two-container {  /* Блок с ответами */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}
.question__section-title-two {  /* блок с вопроом */
  max-inline-size: 315px;
}

.question__section-answer-title-two {  /* Параметры текста */
  margin-block-end: 10px;
}

/* === ТРЕТЬЯ СЕКЦИЯ ВОПРОСОВ ====================================================== */

.question__section__fhree {  /* Третья секция вопросов */
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question__section-answer-subtitle {  /* Подзаголовок */
  font-weight: 400;
}

.question__section-answer-fhree {  /* Секция с ответами */
  display: grid;
  gap: 20px;
}

.question__section-answer-text-fhree {  /* Параметры текста */
  padding-block-start: 10px;
}

/* === СЕКЦИЯ С КАРТИНКАМИ ====================================================== */

.question__section__image {  /* Секция с карти нками */
  padding-block-end: 60px;
}

.question__section-title-image {  /* Заголовок перед картинками */
  margin: 0 20px 20px 20px;
}

.question__section__image-container {  /* Блок с картинками */
  margin: 0 20px;  /* Отступ сверху */
  display: grid;
  gap: 20px;  /* Отступ между всеми */
  grid-template-areas: inherit;
}

.question__section__image-item {  /* Параметры картинок */
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.question__section__image-item:first-of-type {  /* Первая */
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {  /* Вторая */
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {  /* Третья */
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {  /* Четвёртая */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {  /* Последняя */
  grid-column: 2 / 4;
}

/* === ПОДВАЛ ====================================================== */

.footer {  /* Блок с подвалом */
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {  /* Заголовок подвала */
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
  
}



@media (max-width:768px) {  /* === Медиа запрос под 768px === */
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .question__section__one {

    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end:20px;
  }

  .question__section-answer-two-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .question__section-title-two {
    max-inline-size: 236px;
  }
  
  .question__section__fhree {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }  
 
  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}



@media (max-width:560px) {  /* === Медиа запрос под 375px === */
 .header {
  padding: 10px;
}

.header__title {
  margin-left: 0px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  max-inline-size: 355px;
  max-block-size: 117px;
}  

.question__section__one {
  margin: 0px 10px;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__section-two {
  margin: 0 10px;
  padding-block-start: 50px;
  padding-inline-end: 0 ;
  padding-block-end: 50px;
}

.question__section-title-two {
  min-inline-size: 355px;
}

.question__section-answer-two-container {
  display: flex;
  flex-direction: column;
}

.question__section__fhree {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 50px;
}

.question__section__image {
  padding: 0 0 40px 0;
}

.question__section-title-image {
  margin: 0 10px 10px 10px;
}

.question__section__image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
} 

.footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}


