:root {
  --title-color: #DB00FF;  /* Цвет заголовка */
  --text-color: #F1B2CE;  /* Цвет текста */
  --sub-text-color: #000028;  /* Цвет подтекста */
  --accent-color: #ff0070;  /* Цвет акцентов*/
  --font: 'IBM Plex mono';  /* Шрифт */
  --font-size: 18px;  /* Размер шрифта */
  --btn-color:#ff0070;  /* Цвет кнопки */
  --background-image: url(../images/cover-image-dark.png);  /* Путь к фоновому изображению */
}